<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="about-content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum sit sapiente incidunt, assumenda id ratione, fuga repellendus rerum iste ipsa accusamus facere sed. Rem tempora porro dignissimos, ea consequatur quod?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, tempora dolore ipsam nisi iure velit sapiente ipsum quas nesciunt vitae et molestiae atque. Veniam, architecto labore optio sapiente aperiam consequatur?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro aperiam recusandae magni voluptatem facilis voluptates, tenetur explicabo natus eos odio debitis blanditiis quibusdam et. Quasi dolor voluptatem fugit porro laborum.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>